/* You can add global styles to this file, and also import other style files */
html {
  background: linear-gradient(#feffff, #dee5ef);
  height: 100%;
  display: block;
  width: 100%;
  body {
    height: 100%;
    margin: 0px;
  }
}
