<app-slide-buttons [altLeftButtonActive]="industry" [altRightButtonActive]="business" (altButtonEvent)="menuButton($event)"></app-slide-buttons>
<div class="mainContentArea">
  <div class="slider" [class.softLeft]="prevSoftMove" [style.left]="leftSwipe" (touchstart)="startTouch($event)" (touchmove)="moveTouch($event)" (touchend)="endTouch($event)">
    <div class="block detailBlock">
      aquí va el detalle
    </div>
    <div class="block industriesBlock">
      Aquí va el mapa
    </div>
    <div class="block businessBlock">
      Aquí va tu lista de empresas
    </div>
  </div>
</div>

<!-- (touchstart)="touchStartEvt($event)" (touchmove)="touchMoveEvt($event)" (touchend)="touchEndEvt($evt)" -->
