.slider {
  height: 100%;
  width: 300%;
  left: -100%;
  position: fixed;
  transition: left 0.3s;
  .block {
    width: 33%;
    display: inline-block;
    height: 100%;
  }
  &.softLeft {
    transition: none;
  }
}
