<div class="mainContentArea">
  <div class="slider" [style]="sliderStyle">
    <div class="block detailBlock" (swiperight)="industriesFD($event)">
      aquí va el detalle
    </div>
    <div class="block industriesBlock" (swipeleft)="business($event)" (swiperight)="detail($event)">
      Aquí va el mapa
    </div>
    <div class="block businessBlock" (swipeleft)="industriesFB($event)">
      Aquí va tu lista de empresas
    </div>
  </div>
</div>

<!-- (touchstart)="touchStartEvt($event)" (touchmove)="touchMoveEvt($event)" (touchend)="touchEndEvt($evt)" -->
